body {
    font-family: "DejaVu Sans", Verdana, sans-serif;
    max-width: 80ex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 450px;
    margin-bottom: 250px;
    background: url(gamemacs_logo.png) center 120px no-repeat fixed;
}

address {
    border-top: inherit;
    padding-top: 10px;
}

.subtitle {
    margin-bottom: 2em;
    font-style: italic;
    font-size: 0.8em;
}

#content {
    color: black;
    background: white;
    border-top: medium red solid;
}